@media only screen and (min-width: 1200px) {
    .burger-menu {
        display: none;
    }

    .menu-bar {
        display: flex;
    }
  
}

@media only screen and (max-width: 1500px) {
  .about-me-column {
    flex: 1;
    flex-basis: 40%;
}
}

@media only screen and (max-width: 1200px) { 
  .burger-menu {
      display: block;
  }
  
  .cta-burger {
      display: inline;
  }

  .menu-bar {
      display: none;
    }
  
  .photo {
      max-width: 38%;
    }
  
  .read-more {
      display: none;
    }

    .tile {
      flex: 0 0 40%;
    }

    .contact {
      flex-direction: column;
    }

    .contact-details-wrapper {
      flex-direction: row;
  }

  .form-wrapper {
    flex-basis: 100%;
  }
}

  @media screen and (max-width: 900px) {
    .columns {
      flex-direction: column;
      text-align: center;
    }

    .hero-buttons {
      justify-content: center;
    }

    .tile {
      flex: 0 0 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .logo {
      font-size: 1.5rem;
    }

    .contact-details-wrapper {
      flex-direction: column;
  }

.input-wrapper {
  flex-basis: 100%;
}

.about-me-column {
  flex-basis: 90%;
}
  }

@media screen and (max-width: 400px) {
  .contact-details h3 {
    font-size: 1.1rem;
  }

  .cta-burger {
    display: none;
  }
}