@media only screen and (min-width: 1200px) {
    :root {
      font-size: 20px;
    }

    .burger-menu {
        display: none;
    }

    .menu-bar {
        display: flex;
    }
}

@media only screen and (max-width: 1200px) { 
  :root {
    font-size: 16px;
  }

  .burger-menu {
      display: block;
  }
  
    .menu-bar {
      display: none;
    }
  
    .photo {
      max-width: 38%;
    }

    .read-more {
      display: none;
    }

    .tile {
      flex: 0 0 40%;
    }
  }

  @media screen and (max-width: 900px) {
    .columns {
      flex-direction: column;
      text-align: center;
    }

  }

  @media screen and (max-width: 768px) {
    .tile {
      flex: 0 0 100%;
    }
  }
}